* {

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.square {

    width: 200px;
    height: 200px;
    background-color: salmon;
    margin-bottom: 12px;

}

.first-square {
    
    background-color: slateblue;

}

.second-square{
    
    background-color: tomato;
    position: relative;
    left: 200px;
}

.third-square{

    background-color: violet;

}

.caixa {

    width: 200px;
    height: 200px;
    background-color: silver;
    padding: 24px;

}

.caixa-interna {

    width: 100%;
    height: 100%;
    background-color: skyblue;

}
